[paths]
source =
   src/dtscalibration
   */site-packages/dtscalibration

[run]
branch = true
source =
    dtscalibration
parallel = true

[report]
show_missing = true
precision = 2
omit = *migrations*
ignore_errors = True
