graft docs
graft src
graft ci
graft tests

prune examples

recursive-include docs *.ipynb_files
recursive-include docs *.png
recursive-include docs *.rst

include .bumpversion.cfg
include .coveragerc
include .cookiecutterrc
include .editorconfig
include .zenodo.json

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include CITATION.cff

include tox.ini .travis.yml appveyor.yml .readthedocs.yml .style.yapf

global-exclude *.py[cod] __pycache__ *.so *.dylib .DS_Store

include .github
include .github/ISSUE_TEMPLATE
include .github/ISSUE_TEMPLATE/bug_report.md
include .github/ISSUE_TEMPLATE/feature_request.md
